* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.more {
  font-size: 13px;
}
.bannerFourImage{
  height: 300px;
  width: 100%;
}
.shopByMain {
  height: 80px;
  width: 250px;
  text-align: center;
}

.shopBy {
  font-size: 20px;
}

.category {
  font-size: 25px;
  font-weight: 700;
}

.shopByProducts {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.productShopBy {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}


.box {
  height: 3px;
  width: 30px;
  background-color: brown;
  margin-left: -80px;
  margin-top: 5px;
}

.box1 {
  height: 3px;
  width: 25px;
  background-color: brown;
  margin-left: -35px;
  margin-top: 5px;
}

.summer {
  height: 80px;
  width: 180px;
  text-align: center;
}

.summerProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mainSummerPrice {
  position: relative;
  top: -15px;
}

.addCartMain {
  height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 7px;
  color: white;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.pri {
  margin: 0px;
  padding: 0px;
}

#pri {
  font-size: 15px;
  font-weight: 700;
}

.fa-star {
  font-size: 13px;
  color: rgb(222, 190, 7);
}

.fa-certificate {
  font-size: 13px;
  color: green;
}

.Add {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 100px;
}

.iconParent {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.icon-bold {
  font-weight: 700;
}

.shopByLifestyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
}

.lifestyleMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viewAll {
  margin-top: -20px;
  color: rgb(4, 4, 114);
  font-weight: 700;
  font-size: 15px;
}

.for {
  font-size: 25px;
  font-weight: 700;
}

.textNone {
  text-decoration: none;
}

.footer {
  background-color: #e0ebf0;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 100px;
  margin-bottom: 10px;
}

.email-subscribe {
  display: flex;
  align-items: center;
}

.email-subscribe input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

.email-subscribe button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.email-subscribe button i {
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #000;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #0073e6;
}

.email-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.press-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.press-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.press-section h2 span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: red;
}

.press-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e0ebf0;
  padding: 20px;
  border-radius: 10px;
}

.press-logo {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  text-align: center;
}

.press-logo img {
  max-width: 100%;
  height: auto;
}

.press-quote {
  flex: 2;
  min-width: 300px;
  text-align: left;
}

.press-quote blockquote {
  font-size: 18px;
  font-style: italic;
  position: relative;
  padding: 20px;
  margin: 0;
}

.press-quote blockquote:before {
  content: "\201C";
  font-size: 36px;
  color: #333;
  position: absolute;
  top: 0;
  left: -40px;
}

.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-btn {
  background-color: #e0ebf0;
  border: none;
  color: #333;
  padding: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-btn:hover {
  background-color: #ccc;
}
.specialRange{
  margin-top: 3%;
  font-weight: 700;
}
#main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.div3{
  display: flex;
  gap: 4%;
}
.img{
  height: 150px;
  width: 150px;
}
.name{
  margin-top: -10px;
  font-weight: 700;
}
.playback{
  font-size: 13px;
}
.price{
  font-weight: 700;
  font-size: 20px;
}
.button{
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.div3{
  margin-top: 3%;
  margin-bottom: 3%;
}
.nav-item:hover{
  transform: scale(1.1);
  text-decoration: underline;
}
.nirvana{
  font-weight: 600;
}
.banner{
  width: auto;
}
.bannerOne{
  width: 100%;
  background-repeat: no-repeat;
}
.TwoImage{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}







@media (max-width: 768px) {
  .press-container {
    flex-direction: column;
    text-align: center;
  }

  .press-logo {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .press-quote {
    text-align: center;
  }

  .press-quote blockquote {
    padding: 10px;
  }

  .press-quote blockquote:before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}


@media screen and (max-device-width : 995px) {
  .shopByProducts {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
  }

  .summerProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
  #main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .addCartMain {
    width: 70px;
    font-size: 10px;
  }

  .shopByLifestyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
  }

  .footer {
    position: relative;
    top: 350px;
  }
}
@media screen and (max-device-width : 768px) {
  #main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}